// @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);
@import "../assets/scss-mixins/mixin-display-flex.scss";

//Main colors!!!
$black: #161616;
$gray: #505050;
//$purple: #8e44ad; 
$white: #ecf0f1; 
$blue: #194159; 
$lightblue: #9DD8FF;
$red: #F20530;
$orange: #D96236;
$green: #1E9E26;

//Contextual Colors!!!
$success: $green;
$danger: $red;

// //variables
$container-color: white;
$viewport-color: #eeeeee;
$overlay-window-color: #eee;
$width-color: #708A74;
$width-border-color: #E0C7A4;
$info-color: #5bc0de;
$success-color: #62c462;
$error-color: #fbb450;
// $button-color-default: #eee;
// $button-color-hover: #ddd;
// $button-color-active: #ccc;
// $button-danger-default: #ee5f5b;
// $button-danger-hover: #bd362f;
// $button-danger-active: #bd362f;
// $button-success-default: #62c462;
// $button-success-hover: #42c442;

//Element Colors
$btn-default: lighten($blue, 20%); //<----- Change
$btn-default-hover: lighten($btn-default, 10%);
$btn-default-active: darken($btn-default, 5%);
$btn-success: $success; 
$btn-success-hover: lighten($btn-success, 10%);
$btn-success-active: darken($btn-success, 5%);
$btn-danger: $danger; 
$btn-danger-hover: lighten($btn-danger, 10%);
$btn-danger-active: darken($btn-danger, 5%);
$btn-disabled: $white; //<----- Change
$btn-disabled-text: $gray; //<----- Change

//Mixins
@mixin box-sizing ($opt:border-box) {
	box-sizing:$opt;
	-moz-box-sizing: $opt;
	-webkit-box-sizing:$opt;
}

@mixin transition($duration:0.5s) {
	-webkit-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Safari and Chrome */
	-moz-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Firefox 4 */
	-ms-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* MS */
	-o-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Opera */
	transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration;
}
@mixin select ($opt) {
	-webkit-user-select: $opt;
	-khtml-user-select: $opt;
	-moz-user-select: $opt;
	-ms-user-select: $opt;
	user-select: $opt;
}
@mixin no-transition {
	-webkit-transition: none !important; /* Safari and Chrome */
	-moz-transition: none !important; /* Firefox 4 */
	-ms-transition: none !important; /* MS */
	-o-transition: none !important; /* Opera */
	transition: none !important;
}
@mixin rotate($opt){
	transform: rotate($opt);
	-ms-transform: rotate($opt); /* IE 9 */
	-webkit-transform: rotate($opt); /* Safari and Chrome */
	-o-transform: rotate($opt); /* Opera */
	-moz-transform: rotate($opt); /* Firefox */
}

* {
	padding: 0;
	margin: 0;
	@include box-sizing();
	font-family: 'Noto Sans', sans-serif;
}

div{
	//@include select(none);
}

body{
	background-color: $container-color;
}

#main-title {
	#version{
		font-size: 15px;
	}
}
.rotate90{
	display: block;
	@include rotate(90deg)
}
button, .btn {
    position: relative;
    top: 0.07em;
    font-size: 1.5em;
    color: $white;
    margin: 5px;
    border: none;
    background-color: $btn-default;
    padding: 3px 1em;
    border-radius: 3px;
    cursor: pointer;
    // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
    // background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    border-width: 1px;
    border-color: darken($btn-default, 20%);
    border-style: solid;
    //box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    &:hover{
        background-color: $btn-default-hover;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,250, 250, 0.3)), to(rgba(0, 0, 0, 0)));
        background-image: -moz-linear-gradient(rgba(250,250, 250, 0.3), rgba(0, 0, 0, 0));
        background-image: linear-gradient(rgba(250,250, 250, 0.3), rgba(0, 0, 0, 0));
    }
    &:active {
        background-color: $btn-default-active;
        box-shadow: 2px 2px 3px rgba(20,20,20,0.3) inset;
        background-image: none;
        // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.3)), to(darken(rgba(0, 0, 0, 0), 20%)));
        // background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), darken(rgba(0, 0, 0, 0), 20%));
        // background-image: linear-gradient(rgba(0, 0, 0, 0.3), darken(rgba(0, 0, 0, 0), 20%));
    }
    &.btn-large {
        height: 2em;
        font-size: 2em;
        font-weight: bold;
        border-radius: 4px;
    }
    &.btn-small {
        font-size: 1em;
        border-radius: 2px;
    }

    &.success {
        background-color: $btn-success;
        border-color: darken($btn-success, 10%);
        &:hover{
            background-color: $btn-success-hover;
        }
        &:active {
            background-color: $btn-success-active;
        }
    }

    &.danger {
        background-color: $btn-danger;
        border-color: darken($btn-danger, 10%);
        &:hover{
            background-color: $btn-danger-hover;
        }
        &:active {
            background-color: $btn-danger-active;
        }
    }

    &.disabled {
        top: 0.07em;
        color: $btn-disabled-text;
        background-color: $btn-disabled;
        background-image: none;
        border-color: darken($btn-disabled, 10%);
        box-shadow: none;
        &:hover{
            background-color: $btn-disabled;
            background-image: none;
        }
        &:active {
            top: 0.07em;
            background-color: $btn-disabled;
            background-image: none;
            box-shadow: none;
        }
    }
}

nav#main-nav{
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2000;
    min-width: 700px;
    @include transition();
    background-color: $blue;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250, 250, 250, 0.2)), to(rgba(0, 0, 0, 0.1)));
    background-image: -moz-linear-gradient(rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(250, 250, 250, 0.2), rgba(0, 0, 0, 0.1));
    box-shadow: 0px 1px 4px rgba(0,0,0,0.7);
    line-height: 3em;
    &.hide{
        top: -4em;
    }
    .title {
        //width: 160px;
        text-align: center;
        display: inline-block;
        margin:0;
        margin-left: 20px;
        color: $white;
        font-size: 1.5em;
        text-shadow: 1px 1px 1px rgba(0,0,0,1);
        //margin-right: 30px;
    }
    .main-menu {
    	position: absolute;
    	right: 30px;
    	display: inline-block;
    	button.tool-view {
	        display:inline-block;
	        font-size: 1.5em;
	        color: $white;
	        padding: 0 10px;
	        background-image: none;
	        background-color: rgba(0,0,0,0);
	        &:hover{
	        	background-color: rgba(250,250,250, 0.2);
	        }
	        &:active{
	            color: lighten($gray, 50%);
	            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.4)), to(rgba(250, 250, 250, 0.3)));
	            background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.3));
	            background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(250, 250, 250, 0.3));
	        }
	        &.active{
	            color: lighten($gray, 50%);
	            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.4)), to(rgba(250, 250, 250, 0.3)));
	            background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.3));
	            background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(250, 250, 250, 0.3));
	            box-shadow: 2px 2px 5px rgba(0,0,0,0.5) inset;
	        }
	        &.notification{
	            &:active{
	                background-image: none;
	            }
	        }
	    }
	}
}

.notes{
	font-size: 0.9em;
}

.notification {
	position: absolute;
	width: 400px;
	right: 20px;
	top: 0;
	z-index: 999;

	.notification-item{
		position: relative;
		padding: 20px;
		opacity: 0.8;
		cursor: pointer;
		.notification-type{
			font-size: 2em;
			font-weight: bolder;
		}
		.notification-message{
			font-size: 1.5em;
		}
		.close{
			position: absolute;
			top: 20;
			right: 20;
			padding: 5px;
		}
	}
	.error{
		background-color: $error-color;
	}
	.info{
		background-color: $info-color;
	}
	.success{
		background-color: $success-color;
	}
}

.side-bar {
	position: fixed;
    padding-top: 30px;
	left: 0;
	top: 3em;
	bottom: 0;
	width: 55px;
    z-index: 1900;
	background-color: $blue;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.7);
    @include transition();
    &.hide {
        left: -100px;
    }
    .side-tooltip{
        left: 70px;
        position: absolute;
        display: inline;
        white-space: nowrap;
        background-color: $blue;
        padding: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        color: $white;
        // &:after{
        //     position: absolute;
        //     bottom: 100%;
        //     width: 0;
        //     height: 0;
        //     border: solid transparent;
        //     content: " ";
        //     pointer-events: none;
        //     left: 50%;
        //     margin-left: -10px;
        //     border-width: 10px;
        //     border-bottom-color: $blue;
        // }
        &:after{
            position: absolute;
            bottom: 100%;
            width: 0;
            height: 0;
            border: solid transparent;
            content: " ";
            pointer-events: none;
            left: 0;
            top: 50%;
            margin-top: -10px;
            margin-left: -20px;
            border-width: 10px;
            border-right-color: $blue;
        }
    }
    button.tool-view {
        display:inline-block;
        font-size: 1.5em;
        color: $white;
        padding: 0 10px;
        background-image: none;
        background-color: rgba(0,0,0,0);
        &:hover{
            background-color: rgba(250,250,250, 0.2);
        }
        &:active{
            color: lighten($gray, 50%);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.4)), to(rgba(250, 250, 250, 0.3)));
            background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.3));
            background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(250, 250, 250, 0.3));
        }
        &.active{
            color: lighten($gray, 50%);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.4)), to(rgba(250, 250, 250, 0.3)));
            background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(250, 250, 250, 0.3));
            background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(250, 250, 250, 0.3));
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5) inset;
        }
    }
}

#sizes {
	height: 4em;
	white-space: nowrap;
}

.container{
	position: absolute;
	left: 70px;
	top: 3.5em;
	margin-bottom: 30px;
	background-color: $container-color;
	.width-view {
		position: relative;
		background-color: $width-color;
		display: inline-block;
		vertical-align: top;
		border: 1px solid $width-border-color;
		cursor: pointer;
		padding: 10px;
		overflow: auto;
		white-space: nowrap; 
		height: 100%;
		.max{
			float: right;
		}
	}
	.main-view {
		width: 1px;
		background-color: $viewport-color;
		position: relative;
		@include transition(0.5s);
	}
	.element-view {
		border: 1px gray solid;
		overflow: hidden;
		z-index: 4;
		cursor: move;
		.top{
			vertical-align: top;
		}
		.inner {
			position: relative;

			.content {
				font-family: Arial, Helvetica, sans-serif;
				position: inherit;
			}
		}
		.remove-element {
			background-color: orange;
			padding: 5px;
		}
	}
}


$handleWidth : 30px;
$previewWidth: 210px;
$previewContentWidth: $previewWidth - $handleWidth;
.elements-preview{
	position: fixed;
	right:  $handleWidth - $previewWidth;
	top: 50px;
	width: $previewWidth;
	height: 100%;
	background-color: #abc;
	opacity: 0.5;
	z-index: 999;
	@include transition(0.5s);
	&.opened{
		opacity: 1;
		right: 0;
	}

	.preview-handle{
		position: absolute;
		width: $handleWidth;
		height: 100%;
		left: 0;
		cursor: pointer;
		@include transition(0.5s);
		&:hover{
			background-color: $info-color;
		}
		.label{
			margin-top: 100px;
			font-size: 2em;
		}
	}
	.preview-content{
		position: absolute;
		right: 0;
		width: $previewContentWidth;
		padding: 10px;
	}
	ul{
		list-style-type: none;
		.preview-element-item{
			display: block;
			padding: 5px;
			margin: 2px;
			background-color: #eeeeee;
			cursor: move;
		}
		&#previewVisible{
			min-height: 30px;
			background-color: #eeeeee;
		}
		&#previewDisable{
			min-height: 30px;
			background-color: #efefef;
			opacity: 0.5;
		}
	}
}


/** Overlay Stuff **/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('opacity50.png');
	z-index: 1000;
	.instructions{
		color: white;
		background-color: black;
		display: block;
		font-size: 150%;
		height: 2em;
		line-height: 2em;
		padding-left: 30px;
	}
	.window{
		width: 800px;
		background-color: $overlay-window-color; 
		position: relative;
		margin: 0 auto;
		padding: 10px;
		.error{
			background-color: #fbb450;
			padding: 5px;
		}
		.close{
			padding: 5px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	button{
		padding: 5px;
		font-size: 1em;
	}
	.btn-large{
		padding: 10px;
		font-size: 1.25em;
	}
}
.loading{
	background-image: url('opacity10.png');
	.loading-content{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -150px;
		width: 300px;
		height: 300px;
		font-size: 200%;
	}
}
.instruction-overlay{
	.content{
		.instruction-content{
			margin: 1.25em 0;
			//@include display(flex);
			//@include flex-direction(row);
			.instruction-image{
				width: 260px;
				display: inline-block;
				vertical-align: top;
				//@include flex(1);
				//@include display(flex);
				//@include justify-content(center);
				vertical-align: top;
			}
			.instruction-message{
				width:500px;
				display: inline-block;
				vertical-align: top;
				//@include flex(2);
			}
		}
	}
}
.edit-overlay{
	.window{
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -400px;
		height: 80%;
		overflow:auto;
		padding-right: 20px;

		.remove-element{
			margin-left: 0;
			font-size: 0.8em;
		}
		
		.save{
			background-color: $success-color;
		}
		
		
	}
}

.element-overlay {
	cursor: crosshair;
	.close{
		position: absolute;
		right: 0px;
		top: 0px;
		font-size: 20px;
	}
}

.width-form-item {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	position: relative;
	.remove-width{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.projects{
	.project-name{
		margin-right: 30px;
	}
	.project-time{

	}
}


.shadow-element {
	border: 2px black solid;
	z-index: 4;
}

.ui-resizable-helper {
	//@include no-transition;
    //border: 1px rgba(0,0,0,0.5) solid;
}

.hidden {
	display: none !important;
}

.no-select {
	@include select(none);
}