@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

//variables
$container-color: white;
$viewport-color: #eeeeee;
$overlay-window-color: #eee;
$width-color: #708A74;
$width-border-color: #E0C7A4;
$info-color: #5bc0de;
$success-color: #62c462;
$error-color: #fbb450;
$button-color-default: #eee;
$button-color-hover: #ddd;
$button-color-active: #ccc;
$button-danger-default: #ee5f5b;
$button-danger-hover: #bd362f;
$button-danger-active: #bd362f;
$button-success-default: #62c462;
$button-success-hover: #42c442;
//Mixins
@mixin box-sizing ($opt:border-box) {
	box-sizing:$opt;
	-moz-box-sizing: $opt;
	-webkit-box-sizing:$opt;
}

@mixin transition($duration:0.5s) {
	-webkit-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Safari and Chrome */
	-moz-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Firefox 4 */
	-ms-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* MS */
	-o-transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration; /* Opera */
	transition: width $duration, height $duration, background-color $duration, left $duration, right $duration, top $duration, opacity $duration;
}
@mixin select ($opt) {
	-webkit-user-select: $opt;
	-khtml-user-select: $opt;
	-moz-user-select: $opt;
	-ms-user-select: $opt;
	user-select: $opt;
}
@mixin no-transition {
	-webkit-transition: none !important; /* Safari and Chrome */
	-moz-transition: none !important; /* Firefox 4 */
	-ms-transition: none !important; /* MS */
	-o-transition: none !important; /* Opera */
	transition: none !important;
}
@mixin rotate($opt){
	transform: rotate($opt);
	-ms-transform: rotate($opt); /* IE 9 */
	-webkit-transform: rotate($opt); /* Safari and Chrome */
	-o-transform: rotate($opt); /* Opera */
	-moz-transform: rotate($opt); /* Firefox */
}

* {
	padding: 0;
	margin: 0;
	@include box-sizing();
	font-family: 'Roboto', sans-serif;
}

div{
	//@include select(none);
}

body{
	background-color: $container-color;
}

.container {
	margin-left: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $container-color;
}

#main-title {
	#version{
		font-size: 15px;
	}
}
.rotate90{
	display: block;
	@include rotate(90deg)
}
button{
	cursor: pointer;
    background  : none;
    border  : none;
    margin      : 5px;
    padding     : 5px;
    @include transition(0.5s);
    background-color: $button-color-default;

	&:hover{
		background-color: $button-color-hover;
	}
	&:active{
		background-color: $button-color-active;
	}

	&.danger{
		background-color: $button-danger-default;
	}
	&.danger:hover{
		background-color: $button-danger-hover;
	}
}
.notes{
	font-size: 0.9em;
}
.main-menu {
	position: absolute;
	left: 50%;
	top: 10px;
	min-width: 450px;
	button {
		display: inline-block;
		width: 100px;
		font-size: 20px;
	}
}

.notification {
	position: absolute;
	width: 400px;
	right: 20px;
	top: 0;
	z-index: 999;

	.notification-item{
		position: relative;
		padding: 20px;
		opacity: 0.8;
		cursor: pointer;
		.notification-type{
			font-size: 2em;
			font-weight: bolder;
		}
		.notification-message{
			font-size: 1.5em;
		}
		.close{
			position: absolute;
			top: 20;
			right: 20;
			padding: 5px;
		}
	}
	.error{
		background-color: $error-color;
	}
	.info{
		background-color: $info-color;
	}
	.success{
		background-color: $success-color;
	}
}

#sizes {
	height: 4em;
}

.width-view {
	position: relative;
	background-color: $width-color;
	display: inline-block;
	vertical-align: top;
	border: 1px solid $width-border-color;
	cursor: pointer;
	padding: 10px;
	overflow: auto;
	white-space: nowrap; 
	height: 100%;
	.max{
		float: right;
	}
}

.main-view {
	width: 1px;
	background-color: $viewport-color;
	position: relative;
	@include transition(0.5s);
}


.element-view {
	border: 1px gray solid;
	overflow: hidden;
	z-index: 4;
	cursor: move;

	.top{
		vertical-align: top;
	}
	.inner {
		position: relative;

		.content {
			font-family: Arial, Helvetica, sans-serif;
			position: inherit;
		}
	}
	.remove-element {
		background-color: orange;
		padding: 5px;
	}
}

$handleWidth : 30px;
$previewWidth: 210px;
$previewContentWidth: $previewWidth - $handleWidth;
.elements-preview{
	position: fixed;
	right:  $handleWidth - $previewWidth;
	top: 0;
	width: $previewWidth;
	height: 100%;
	background-color: #abc;
	opacity: 0.5;
	z-index: 800;
	@include transition(0.5s);
	&.opened{
		opacity: 1;
		right: 0;
	}

	.preview-handle{
		position: absolute;
		width: $handleWidth;
		height: 100%;
		left: 0;
		cursor: pointer;
		@include transition(0.5s);
		&:hover{
			background-color: $info-color;
		}
		.label{
			margin-top: 100px;
			font-size: 2em;
		}
	}
	.preview-content{
		position: absolute;
		right: 0;
		width: $previewContentWidth;
		padding: 10px;
	}
	ul{
		list-style-type: none;
		.preview-element-item{
			display: block;
			padding: 5px;
			margin: 2px;
			background-color: #eeeeee;
			cursor: move;
		}
		&#previewVisible{
			min-height: 30px;
			background-color: #eeeeee;
		}
		&#previewDisable{
			min-height: 30px;
			background-color: #efefef;
			opacity: 0.5;
		}
	}
}


/** Overlay Stuff **/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('opacity50.png');
	z-index: 1000;
	.instructions{
		color: white;
		background-color: black;
		display: block;
		font-size: 150%;
		height: 2em;
		line-height: 2em;
		padding-left: 30px;
	}
	.window{
		width: 800px;
		background-color: $overlay-window-color; 
		position: relative;
		margin: 0 auto;
		padding: 10px;
		.error{
			background-color: #fbb450;
			padding: 5px;
		}
		.close{
			padding: 5px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	button{
		padding: 5px;
		font-size: 1em;
	}
	.btn-large{
		padding: 10px;
		font-size: 1.25em;
	}
}
.loading{
	background-image: url('opacity10.png');
	.loading-content{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -150px;
		width: 300px;
		height: 300px;
		font-size: 200%;
	}
}
.edit-overlay{
	.window{
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -400px;
		height: 80%;
		overflow:auto;
		padding-right: 20px;

		.remove-element{
			margin-left: 0;
			font-size: 0.8em;
		}
		
		.save{
			background-color: $button-success-default;
		}
		
		
	}
}

.element-overlay {
	cursor: crosshair;
	.close{
		position: absolute;
		right: 0px;
		top: 0px;
		font-size: 20px;
	}
}

.width-form-item {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	position: relative;
	.remove-width{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.projects{
	.project-name{
		margin-right: 30px;
	}
	.project-time{

	}
}


.shadow-element {
	border: 2px black solid;
	z-index: 4;
}

.ui-resizable-ghost {
	@include no-transition;
}

.hidden {
	display: none;
}

.no-select {
	@include select(none);
}