@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

//variables
$container-color: white;
$viewport-color: #F79871;
$overlay-window-color: #eee;
$width-color: #708A74;
$width-border-color: #E0C7A4;
$info-color: #5bc0de;
$success-color: #62c462;
$error-color: #fbb450;
$button-color-default: #eee;
$button-color-hover: #ddd;
$button-color-active: #ccc;
$button-danger-default: #ee5f5b;
$button-danger-hover: #bd362f;
$button-danger-active: #bd362f;
$button-success-default: #62c462;
$button-success-hover: #42c442;
//Mixins
@mixin borderbox ($opt:border-box) {
	box-sizing:$opt;
	-moz-box-sizing: $opt;
	-webkit-box-sizing:$opt;
}

@mixin transition($duration:0.5s) {
	-webkit-transition: width $duration, height $duration, background-color $duration; /* Safari and Chrome */
	-moz-transition: width $duration, height $duration, background-color $duration; /* Firefox 4 */
	-ms-transition: width $duration, height $duration, background-color $duration; /* MS */
	-o-transition: width $duration, height $duration, background-color $duration; /* Opera */
	transition: width $duration, height $duration, background-color $duration;
}
@mixin select ($opt) {
	-webkit-user-select: $opt;
	-khtml-user-select: $opt;
	-moz-user-select: $opt;
	-ms-user-select: $opt;
	user-select: $opt;
}
@mixin no-transition {
	-webkit-transition: none !important; /* Safari and Chrome */
	-moz-transition: none !important; /* Firefox 4 */
	-ms-transition: none !important; /* MS */
	-o-transition: none !important; /* Opera */
	transition: none !important;
}

* {
	padding: 0;
	margin: 0;
	@include borderbox();
	@include select(none);
	font-family: 'Roboto', sans-serif;
}

input, textarea{
	@include select(all);
}

body{
	background-color: $container-color;
}
.container {
	margin-left: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $container-color;
}

#main-title {
	#version{
		font-size: 15px;
	}
}

button{
	cursor: pointer;
    background  : none;
    border  : none;
    margin      : 5px;
    padding     : 5px;
    @include transition(0.5s);
    background-color: $button-color-default;
}

button:hover{
	background-color: $button-color-hover;
}
button:active{
	background-color: $button-color-active;
}

button.danger{
	background-color: $button-danger-default;
}
button.danger:hover{
	background-color: $button-danger-hover;
}
.main-menu {
	position: absolute;
	left: 50%;
	top: 10px;
	min-width: 450px;
	button {
		display: inline-block;
		width: 100px;
		font-size: 20px;
	}
}

.notification {
	position: absolute;
	width: 400px;
	right: 20px;
	top: 0;

	.notification-item{
		position: relative;
		padding: 20px;
		opacity: 0.8;
		cursor: pointer;
		.notification-type{
			font-size: 2em;
			font-weight: bolder;
		}
		.notification-message{
			font-size: 1.5em;
		}
		.close{
			position: absolute;
			top: 20;
			right: 20;
			padding: 5px;
		}
	}
	.error{
		background-color: $error-color;
	}
	.info{
		background-color: $info-color;
	}
	.success{
		background-color: $success-color;
	}
}

#sizes {
	height: 4em;
}

.width-view {
	position: relative;
	background-color: $width-color;
	display: inline-block;
	vertical-align: top;
	border: 1px solid $width-border-color;
	cursor: pointer;
	padding: 10px;
	overflow: auto;
	white-space: nowrap; 
	height: 100%;
	.max{
		float: right;
	}
}

.main-view {
	width: 1px;
	background-color: $viewport-color;
	position: relative;
	@include transition(0.5s);
}


.element-view {
	border: 1px gray solid;
	overflow: hidden;
	z-index: 4;
	cursor: move;

	.top{
		vertical-align: top;
	}
	.inner {
		position: relative;

		.content {
			font-family: Arial, Helvetica, sans-serif;
			position: inherit;
		}
	}
	.remove-element {
		background-color: orange;
		padding: 5px;
	}
}




/** Overlay Stuff **/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('opacity50.png');
	z-index: 100;
	.window{
		width: 800px;
		background-color: $overlay-window-color; 
		position: relative;
		margin: 0 auto;
		padding: 10px;
		.error{
			background-color: #fbb450;
			padding: 5px;
		}
		.close{
			padding: 5px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	button{
		padding: 5px;
		font-size: 1em;
	}
	.btn-large{
		padding: 10px;
		font-size: 1.25em;
	}
}
.edit-overlay{
	.window{
		position: absolute;
		top: 10%;
		left: 50%;
		margin-left: -400px;
		height: 80%;
		overflow:auto;
		padding-right: 20px;

		.remove-element{
			margin-left: 0;
			font-size: 0.8em;
		}
		.save{
			background-color: $button-success-default;
		}
	}
}

.element-overlay {
	cursor: crosshair;
	.close{
		position: absolute;
		right: 0px;
		top: 0px;
		font-size: 20px;
	}
}

.width-form-item {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	position: relative;
	.remove-width{
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.projects{
	.project-name{
		margin-right: 30px;
	}
	.project-time{

	}
}


.shadow-element {
	border: 2px black solid;
	z-index: 4;
}

.ui-resizable-ghost {
	@include no-transition;
}

.hidden {
	display: none;
}

.no-select {
	@include select(none);
}