<html>
	<head>
		<title>Responsive Wireframes</title>
		<link rel="stylesheet" href="public/css/default.css">
		<link rel="stylesheet" href="public/assets/jquery-ui/themes/base/minified/jquery.ui.resizable.min.css">
		<link rel="stylesheet" href="public/assets/font-awesome/css/font-awesome.min.css">
		<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
		<script src="public/assets/jquery/jquery.min.js"></script>
		<script src="public/assets/underscore/underscore-min.js"></script>
		<script src="public/assets/backbone/backbone-min.js"></script>
		<script src="public/assets/jquery-ui/ui/minified/jquery-ui.custom.min.js"></script>
		<script src="public/js/main.js"></script>
	</head>
	<body>

		<div class="container">
			<br>
			<h1 id="main-title">
				RWD Wireframe
			</h1> <br>
			<div id="sizes">
			</div>

			<div class="main-menu">

			</div>

			<div class="main-view">

			</div>
		</div>
		<div class="create-element-overlay hidden overlay">
			<button class="close no-select">Cancel (or Click Anywhere)</button>
			<div class="hidden shadow-element" style="position: absolute; width: 1px; height: 1px;"></div>
		</div>

		<div class="user-overlay hidden overlay">

		</div>

		<script id="widthViewTemp" type="text/template">
		 	<span class="min"><%= xmin %>px </span>
		 	<span class="max"><%= xmax %>px </span>
		</script>

		<script id="toolViewTemp" type="text/template">
			<i class="<%= iconClass %>"></i> <%=name%>
		</script>

		<script id="elementViewTemp" type="text/template">
			<div class="menu">
				<button class="edit-content"><i class="icon-pencil icon-2x"></i></button>
				<button class="save-content hidden"><i class="icon-save icon-2x"></i></button>
			</div>
			<div class="content">
				<%= content %>
			</div>
			<div class="edit hidden">
				
				<span class="top">Content: <textarea class="input-content"></textarea></span>
				<br>
				<!--Disable: <input class="input-disable" type="checkbox">-->
				BColor: <input class="input-color" type="text" size="7">
				Zindex: <input class="input-zindex" type="text" size="4">
				<button class="remove-element"> <i class="icon-remove-circle"></i> Remove Element</button>
		</script>

		<script id="loginTemp" type="text/template">
			<div class="login-window window">
				<button class="close"><i class="icon-remove"></i></button>
				<h3>Login</h3><br>
				<div id="loginError" class="error hidden"></div>
				<form id="loginForm">
					<label> Email: </label>
					<input type="email" name="email" id="inputEmail"><br>
					<label> Password: </label>
					<input type="password" name="password" id="inputPass"><br>
					<br>
					<button type="submit" id="loginSubmit" class="btn-large"><i class="icon-ok"></i> Login</button>
				</form>
				Or 
				<br>
				<button id="registerButton" class="btn-large"><i class="icon-key"></i> Register </button>
				<br>
				
			</div>
		</script>
		<script id="registerTemp" type="text/template">
			<div class="register-window window">
				<button class="close"><i class="icon-remove"></i></button>
				<h3>Register</h3><br>
				<div id="registerError" class="error hidden"></div>
				<form id="registerForm">
					<label> Email: </label>
					<input type="email" name="email" id="inputRegisterEmail"><br>
					<label> Password: </label>
					<input type="password" name="password" id="inputRegisterPass"><br>
					<label> Confirm Password: </label>
					<input type="password" name="vpassword" id="vinputRegisterPass"><br><br>
					<button type="submit" class="btn-large"><i class="icon-ok"></i> Submit </button>
				</form>
			</div>
		</script>
		<script id="userTemp" type="text/template">
			<div class="window">
				<div class="error hidden"><i class="icon-remove"></i></div>

			</div>
		</script>

	</body>
</html>